#!/sbin/openrc-run

description="PPP Connection Manager"
supervisor="supervise-daemon"
command="/bin/bash"
command_args="ppp_connection_manager.sh"
supervise_daemon_args=" -d /opt/sixfab/ppp_connection_manager"

depend() {
	after net 
}